*
{
    margin:0px;
    padding:0px;
}
:root
{
    --blue:#0000CD;
    --white:#ffffff;
    --marian-blue:#E1EBEE;
}
body
{
    background-color: var(--marian-blue) !important;
}
.row
{
    color:var(--blue);
}
.first-black-box
{
    background-color: var(--white);
}
.listing p
{
    margin-top:10px;
    font-size: 1.2em;
    padding:5px;
    border-radius:12px;

}
.listing p:hover
{
   background-color:var(--blue);
   color:var(--white);
}
ul
{
    list-style-type: none;
}
.paragraphing
{
    margin-left:120px;
    margin-top:-50px;
}
.viewers
{
    margin-left:120px;
    margin-top:-10px;
}